* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
  color: white;
}

#landing__green-white-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vw;
}

#landing__pink-white-blob {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw;
}

.sister-projects-btn {
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 1em 2em;
  font-size: 0.5rem;
  border: 2px solid white;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.06em;
  margin-top: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.sister-projects-btn:hover {
  color: white;
  background: #001228;
  border-color: #001228;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-decoration: none;
}

#landing__logo {
  width: 100%;
  margin-bottom: 1em;
}

#landing__bio {
  padding: 0em 1.5em;
  margin-bottom: 1.5em;
}

.your-story-btn {
  border: 3px solid #001228;
  border-radius: 2em;
  background: #001228;
  padding: 0.75em 2em;
  font-size: 0.8rem;
  color: #ffffff;
}

#landing__learn-more {
  margin-top: 2em;
  font-size: 0.6rem;
}

#landing__down-btn {
  margin-top: -1em;
  width: 3%;
}

.navbar {
  z-index: 1;
  background-color: #263850;
  padding: 0;
}

.modal {
  position: fixed !important;
}

#modal__yellow-blob {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
}

#modal__orange-blob {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
}

#modal__close-btn {
  font-size: 2.5rem;
  color: #001228;
}

.modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}

.modal-title {
  margin-top: 2.5em;
}

.modal__title-text {
  font-size: 1.15rem;
  font-weight: 700;
}

.modal-body {
  height: 100vh;
}

.modal-content {
  position: absolute;
  background-color: #263850;
  width: 100vw;
  height: 100vh;
}

.modal-header {
  border: none;
}

#modal__resource-19-row {
  height: 60%;
}

#modal__resource-19-btn,
#modal__covid-19-list-btn {
  font-size: .8rem;
  padding: 0.5em 1.5em;
  background-color: #001228;
  border: 3px solid #001228;
  border-radius: 2em;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#modal__description {
  font-size: 0.92rem;
}

#modal__covid-19-list-col {
  margin-top: 2em;
}

@media (min-width: 768px) {
  #landing__green-white-blob {
    width: 40vw;
  }
  .sister-projects-btn {
    font-size: 0.9rem;
  }
  #landing__bio {
    font-size: 1.5rem;
  }
  #landing__your-story-btn {
    font-size: 1.2rem;
  }
  #landing__learn-more {
    font-size: 0.8rem;
  }
  #landing__down-btn {
    width: 2%;
  }
}

@media (min-width: 992px) {
  #landing__green-white-blob {
    width: 40vw;
  }
  #landing__pink-white-blob {
    width: 50vw;
  }
  .sister-projects-btn {
    font-size: 1.1rem;
  }
  #landing__logo {
    font-size: 30px;
    margin-top: 5em;
  }
  #landing__bio {
    font-size: 2rem;
    padding: 0 5em;
  }
  #landing__your-story-btn {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
  }
  #landing__learn-more {
    font-size: 1.2rem;
  }
  #landing__down-btn {
    width: 2%;
  }
}

@media (min-width: 1200px) {
  #landing__green-white-blob {
    width: 22vw;
  }
  #landing__pink-white-blob {
    width: 20vw;
  }
  #landing__logo {
    width: 60%;
    margin-top: 0em;
    text-align: center;
  }
  #landing__bio {
    font-size: 1.3rem;
    padding: 0 12em;
    margin-top: 1em;
  }
  .sister-projects-btn {
    font-size: 0.7rem;
  }
  #landing__your-story-btn {
    font-size: 1rem;
    margin-bottom: 1.5em;
  }
  #landing__learn-more {
    margin-top: 5em;
    font-size: 0.6rem;
    margin-bottom: 3em;
  }
  #landing__down-btn {
    width: 1.5%;
  }
}

/* ABOUT STYLING */
h1 {
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

div.fp-tableCell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#icons {
  width: 70vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#about-text > p:last-of-type {
  margin-bottom: 2em;
}

.your-story-btn {
  border: 3px solid #001228;
  background: #001228;
  padding: 0.75em 2em;
  margin: 1.5em 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.your-story-btn:hover {
  text-decoration: none;
  color: white;
  background: none;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.posts {
  height: 50vh;
}

#stories-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.instagram_gallery > a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.instagram_gallery > a:hover {
  opacity: 50%;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@media (min-width: 768px) {
  #icons {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  #icons {
    width: 40vw;
  }
}
/*# sourceMappingURL=landing.css.map */