// COLOR SET

$navy-blue: #263850;
$dark-blue: #001228;
$black: #001228;
$light-white: #eeeeee;
$gray: #787878;

* {
  margin: 0;
  padding: 0;
}

// ***** START OF HOME PAGE *****

body {
  font-family: "Rubik";
  color: white;
}

#landing__green-white-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 55%;
}

#landing__pink-white-blob {
  position: fixed;
  width: 75%;
  bottom: 0;
  right: 0;
}

.sister-projects-btn {
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 1em 2em;
  font-size: 0.45rem;
  border: 2px solid white;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.06em;
  margin-top: 1em;
  margin-right: 1em;
}

#landing__logo {
  width: 100%;
  margin-bottom: 1em;
}

#landing__bio {
  margin-bottom: 1.5em;
}

.your-story-btn {
  border: 3px solid $black;
  border-radius: 2em;
  background: $black;
  padding: 0.75em 2em;
  font-size: 0.8rem;
  color: white;
}

#landing__learn-more {
  margin-top: 2em;
  font-size: 0.8rem;
}

#landing__down-btn {
  width: 3%;
}

// MODAL

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(38, 56, 80, 1);
  color: white;
  display: none;
  z-index: 124;

  #modal__yellow-blob {
    position: fixed;
    top: 0;
    right: 0;
  }

  #modal__orange-blob {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
  }

  #modal__close-btn {
    font-size: 3rem;
    float: right;
  }

  h1 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.06em;
    font-weight: bold;
    line-height: 2em;
    align-self: flex-start;
  }

  #modal__description {
    font-size: 0.92rem;
  }

  #modal__resource-19-btn,
  #modal__covid-19-list-btn {
    font-size: 1rem;
    padding: 0.5em 1.5em;
    background-color: $dark-blue;
    border: 3px solid $dark-blue;
    border-radius: 2em;
    color: white;
    align-self: center;
  }

  #modal__covid-19-title {
    margin-top: 2em;
  }
}

// MEDIA QUERIES

// @media (min-width: 320px) and (max-width: 374px) {
//   #landing__green-white-blob {
//     width: 50%;
//   }

//   #landing__pink-white-blob {
//     width: 50%;
//   }
// }

// @media (min-width: 400px) {
//   #landing__green-white-blob {
//     width: 45%;
//   }

//   #landing__pink-white-blob {
//     width: 55%;
//   }
// }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

// Smaller screens

// @media (min-width: 320px) and (max-height: 650px) {

//   #landing__green-white-blob {
//     width: 45%;
//   }

//   #landing__pink-white-blob {
//     width: 60%;
//   }

//   #landing__bio {
//     font-size: 0.8rem;
//   }

//   .your-story-btn {
//     font-size: 0.7rem;
//   }

//   #landing__learn-more {
//     font-size: 0.6rem;
//   }

//   #landing__down-btn {
//     width: 5%;
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #landing__green-white-blob {
    width: 40%;
  }

  #landing__pink-white-blob {
    width: 40%;
  }

  // .sister-projects-btn {
  //   font-size: 1.5rem;
  // }

  #landing__logo {
    width: 100%;
  }

  #landing__bio {
    font-size: 2.5rem;
  }

  // .your-story-btn {
  //   font-size: 1.75rem;
  // }

  #landing__learn-more {
    font-size: 1.25rem;

    #landing__bio {
      font-size: 2rem;
    }

    // .your-story-btn {
    //   font-size: 1.5rem;
    // }

    #landing__learn-more {
      font-size: 1rem;
    }
  }
}
// Large devices (desktops, 992px and up)

// @media (min-width: 992px) {
//   #landing__green-white-blob {
//     width: 30%;
//   }

//   #landing__pink-white-blob {
//     width: 30%;
//   }

//   .sister-projects-btn {
//     font-size: 1.5rem;
//   }

//   #landing__logo {
//     width: 100%;
//   }

//   #landing__bio {
//     font-size: 2.5rem;
//   }

//   .your-story-btn {
//     font-size: 1.75rem;
//   }

//   #landing__learn-more {
//     font-size: 1.25rem;
//   }
// }

// ***** END OF HOME PAGE *****

/* ABOUT STYLING */
h1 {
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

// div.section.fp-section.fp-table.active {
//   padding-top: 0!important;
//   padding-bottom: 0!important;
// }

div.fp-tableCell {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

#icons {
  width: 70vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#about-text > p:last-of-type {
  margin-bottom: 2em;
}

.your-story-btn {
  border: 3px solid #001228;
  background: #001228;
  padding: 0.75em 2em;
  margin: 1.5em 0;
  transition: all 0.25s ease;
}

.your-story-btn:hover {
  text-decoration: none;
  color: white;
  background: none;
  transition-timing-function: ease-in;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.posts {
  height: 50vh;
}

#stories-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  order: -1;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #icons {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
}

// Large devices (desktops, 992px and up)
