$navy-blue: #263850;
$black: #001228;
$light-white: #eeeeee;
$gray: #787878;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $navy-blue;
  font-family: "Rubik";

  nav {
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 199px;
    letter-spacing: 0.06em;
  }

  p {
    color: white;
    font-size: 1rem;
  }

  #sister-projects-btn {
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 12px;
    padding: 1em 3em;
    border: 3px solid #ffffff;
    margin: 2em 0em;
    margin-right: 2em;
  }
}

#landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;

  #image-scroll {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    width: 95%;
  }

  #logo {
    display: inline-block;
    width: 100%;
  }

  #circle-scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .circle {
    width: 0.6em;
    fill: black;
    padding: 0.1em 0em;
    filter: invert(62%) sepia(0%) saturate(0%) hue-rotate(19deg) brightness(98%)
      contrast(92%);
  }

  #circle-1 {
    filter: grayscale(100%);
  }

  #landing-bio {
    width: 80%;
    margin: 1.5em 0em;
  }

  #your-story-btn {
    border: 3px solid $black;
    background: $black;
    padding: 0.75em 2em;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }

  #learn-more {
    font-size: 0.5rem;
    font-weight: normal;
    color: $light-white;
  }

  #down-btn {
    height: 40px;
    margin-top: 0.75em;
    filter: grayscale(100%);
  }
}
